<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Node.js + MongoDB</title>

  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/products">Produtos</a></li>
        <li><a href="/products/create">Cadastrar produto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>